/* Global */
body {
    margin: 0;
    padding: 0;
    background: #0a0a0a;
    font-family: 'Courier New', monospace;
    color: #0aff0a;
    overflow-x: hidden;
}

/* Centered Boxes */
.center {
    max-width: 430px;
    margin: 100px auto;
    background: #111;
    padding: 30px;
    border: 2px solid #0aff0a;
    border-radius: 10px;
    box-shadow: 0 0 25px #00ff00aa;
    position: relative;
    z-index: 2;
}

h2 {
    text-align: center;
    color: #0aff0a;
    text-shadow: 0 0 10px #00ff00;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #000;
    border: 1px solid #0aff0a;
    color: #0aff0a;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0aff0a;
    color: #000;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 18px;
}
button:hover {
    background: #00cc00;
    box-shadow: 0 0 15px #00ff00;
}

/* Result Box */
#result {
    display: none;
    background: #000;
    margin-top: 20px;
    padding: 15px;
    border-left: 4px solid #0aff0a;
    border-radius: 5px;
    box-shadow: 0 0 15px #00ff0080 inset;
}

/* Fade Animation */
.fadeIn {
    animation: fade 0.6s forwards;
}
@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Matrix Animation Background */
.matrix-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.imgur.com/3e5pQCe.gif');
    background-size: cover;
    opacity: 0.15;
    pointer-events: none;
    z-index: 1;
}

/* Green Scanlines */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        transparent,
        transparent 2px,
        rgba(0,255,0,0.03) 3px
    );
    pointer-events: none;
    z-index: 3;
}

/* Hacker Terminal Screen */
#terminal {
    width: 100%;
    height: 140px;
    background: #000;
    border: 1px solid #0aff0a;
    margin-top: 15px;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    color: #0aff0a;
    box-shadow: inset 0 0 10px #00ff0090;
      }
